.App {
  text-align: center;
}

.Navbar{
  /* navbar opacity */
  background: rgba(255, 205, 205, 0);
  z-index: 2;
  position:fixed;
}

#footer-message{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  z-index:2
}

.button1 {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}